.custom-header {
    background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
    /* background-color: blueviolet; */
}

.custom-text {
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 1%;
}

.custom-search {
    width: 96%;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
    text-align: center;
    border: 0;
}

.custom-search-list {
    width: 96%;
    margin: 2%;
    border-radius: 0;
    border: 0;
}

.custom-list {
    margin:2%;
    text-align:center;
}